.boardsContainer {
  overflow-x: auto;
  width: 100%;
  display: flex;
  margin-top: 5%;
}
.Boards {
  width: 100%;
  margin-left: 20%;
  margin-top: 1%;
}
.Board {
  margin-top: 3%;
}
.cards {
  display: flex;
  width: 100vw;
  gap: 2%;
}
@media (max-width: 320px) {
  .Boards {
    margin-top: 10%;
    margin-left: 33%;
  }
}
@media (max-width: 375px) and (min-width: 321px) {
  .Boards {
    margin-top: 10%;
    margin-left: 33%;
  }
}
@media (min-width: 375px) and (max-width: 425px) {
  .Boards {
    margin-top: 10%;
    margin-left: 33%;
  }
}
@media (min-width: 425px) and (max-width: 650px) {
  .Boards {
    margin-top: 10%;
    margin-left: 33%;
  }
}
@media (min-width: 650px) and (max-width: 700px) {
  .Boards {
    margin-top: 10%;
    margin-left: 44%;
  }
}
@media (min-width: 700px) and (max-width: 768px) {
  .Boards {
    margin-top: 5%;
    margin-left: 40%;
  }
}
@media (min-width: 768px) and (max-width: 800px) {
  .Boards {
    margin-top: 5%;
    margin-left: 40%;
  }
}
@media (min-width: 800px) and (max-width: 1024px) {
  .Boards {
    margin-top: 5%;
    margin-left: 35%;
  }
}
@media (min-width: 1024px) and (max-width: 1440px) {
  .Boards {
    margin-top: 5%;
    margin-left: 30%;
  }
}
