.Task {
  display: flex;
  margin-top: 5%;
}

.ContainerTodo {
  /* overflow-x: auto;
  white-space: nowrap; */
  /* width: calc(100vw - 282px); */
  width: 100%;
  margin-top: 1%;
  margin-left: 285px;
  padding: 20px;
}
.Todos {
  width: 100%;
  height: 100%;
}
.Todolist {
  width: 70%;
  height: auto;
}

.Line {
  margin-bottom: 2%;
  width: 100%;
  height: 1px;
  background-color: gray;
}
.TaskFont {
  font-weight: bold;
}
.TaskAssigned {
  display: flex;
  gap: 1%;
}
.TaskCounter {
  width: 3%;
  margin-top: 6px;
  text-align: center;
  height: 1%;
  font-size: 12px;
  border-radius: 9px;
  background-color: var(--grey2);
}
.ButtonLoadMore {
  width: 10%;
  height: 5%;
  border-radius: 20px;
  border: none;
  background-color: var(--darkBlueS);
  color: var(--darkBlue);
  font-weight: bold;
}
@media (min-width: 650px) and (max-width: 900px) {
  .ContainerTodo {
    margin-top: 3%;
  }
}
@media (min-width: 0px) and (max-width: 650px) {
  .ContainerTodo {
    margin-top: 6%;
    margin-left: 30%;
    font-size: 12px;
  }
}
@media (max-width: 740px) and (min-width: 500px) {
  .ContainerTodo {
    font-size: 12px;
  }
}
@media (max-width: 500px) and (min-width: 0px) {
  .ContainerTodo {
    font-size: 9px;
  }
}
